<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jason.reminder" android:versionCode="2"
	android:versionName="2.0">
	<application android:icon="@drawable/reminder32" android:label="@string/app_name">
		<activity android:name=".ReminderMain" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name=".BootApp">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<service android:name=".ReminderService" android:process=":remote"></service>
	</application>
	<uses-sdk android:minSdkVersion="5" />

	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>

	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest> 